* {
  font-family: 'Lexend', sans-serif;
}

.key {
  border: 1px solid #000;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  display: flex;
}

.key * {
  font-size: 12px;
}

.keyboard {
  font-size: 40px;
}

h1, h2, h3, h4 {
  text-align: center;
}

button {
  padding: 10px;
  margin-top: 10px;
  }
  
video {
  width: 50%;
}


        /* body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    align-content: center;
        } */